.hidden {
  display: none;
}

.desc {
  font-weight: bold;
}

.input {
  margin-bottom: 0.8rem;
}

.card {
  border-radius: 15px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.swal-text {
  text-align: center;
}

.header {
  margin-top: 2.5rem;
}

.card {
  background-color: #fff;
}

.value-box {
  margin-bottom: 2.5rem;
}

.title.value {
  font-size: 5rem;
}

.footer {
  background-color: #fff;
}
